
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}
  
.trigger:hover {
    color: #1890ff;
}
  
.logo {
    height: 6.6rem;
    background: rgba(18, 32, 71, 0.85);
    color: #fff;
    display: flex;
    align-items: center;
}

.ant-layout-header{
    height: 5vh!important;
    line-height: 3vh!important;
}

.ant-menu-item{
    margin: 0!important;
    height: 50px!important;
}

.ant-menu-item-selected{
    
}

.ant-menu-item:hover{
    background-color: #6988a7!important;
}

.ant-layout-sider{
    height: 90vh;
}

.middle-text{
    vertical-align: middle;
}