
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}
  
.trigger:hover {
    color: #1890ff;
}
  
.logo {
    height: 5rem;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    display: flex;
    align-items: center;
}

.ant-menu-item{
    margin: 0!important;
    height: 50px!important;
}

.ant-menu-item:hover{
    background-color: #6988a7!important;
}

.aaaaa{
    height: 100%!important; 
    overflow: hidden!important;
}